@import"./variables";

.nosotros2{
    width: 100%;
    background-color:black ;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content:center;
    gap: 2em;  
    padding:1.5em;
    }    

.nosotros__div--youtube{
    @include sizes(100%,23rem);

}
.nosotros__div--p{
    color: map-get($map: $colores, $key: bronce);
    font-size: 1.2em;
    text-align: justify;
}