/*----------------------------------------------------------------------------------------------------------------------------------------------------
----------colores---------------*/
$EerieBlack:#131515;
$Jet:#2b2c28;
$PersianGreen:#339989;
$Copper:#a8763e;
$OldLac:#f7f3e3;
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
